html {
  font-size: 13px;
}

@media (min-width: 451px) and (max-width: 768px){
  html { font-size: 15px }
}

@media (min-width: 769px){
  html { font-size: 16px }
}

#wrapper {
  background-color : #000000;
  padding: 0.77rem;
  margin: 0;
  width: 100%;
  height: 3rem;
  z-index: 10;
  position: fixed;
}

.mobileLogo {
  display: block;
  width: 17.5rem;
  height: auto;
  position: relative;
  margin: 0px;
  padding: 0;
  left: 0%;
  transform: translate(-50% 0);
}

.logo {
  display: none;
}

.nav {
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: black;
  position: relative;
  display: block;
  margin-left: -1rem;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  font-family: "GothamBookItalic";
  text-decoration: none;
  display: block;
  width: 6rem;
}

.topnav a.icon {
  position: absolute;
  display: block;
  right: 0.5rem;
  top: 0rem;
  width: 2rem;
}

.topnav a:hover {
  color: #78de97;
}

#musicContainer {
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  top: 4.5rem;
  border-top: 1px solid white;
}

#musicContainer h1 {
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-family: "GothamBook";
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}

#musicContainer .album1 {
  position: relative;
  max-width: 90%;
  height: 105.7rem;
  top: 8rem;
  background-color: rgba(39, 94, 92, 0.6);
  left: 50%;
  transform: translate(-50%,0);
}

#musicContainer .album1 img{
  position: absolute;
  width: 100%;
  height: auto;
}

#musicContainer .album1 h1 {
  position: absolute;
  color: white;
  font-family: "GothamBook";
  top: 30rem;
}

#musicContainer .album1 a {
  position: absolute;
  text-align: center;
  width: 5rem;
  height: auto;
  top: 36rem;
  left: 50%;
  transform: translate(-50%,0);
  color: #1BBA54;
  text-decoration: none;
  font-family: "GothamBook";
  font-weight: bold;
  font-size: 1.0rem;
  border: 1px solid #1BBA54;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

#musicContainer .album1 a:hover {
  background-color: #1BBA54;
  color: white;
  transition: 0.3s;
}

#musicContainer .album1Music {
  position: absolute;
  top: 40rem;
  width: 100%;
  height: auto;
}

#musicContainer .album1 .album1Music p{
  color: white;
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "GothamBook";
  border-bottom: 0.5px solid black;
}

#musicContainer .album2 {
  position: relative;
  max-width: 90%;
  height: 92.65rem;
  top: 12rem;
  background-color: rgba(24, 53, 61, 0.8);
  left: 50%;
  transform: translate(-50%,0);
}

#musicContainer .album2 img {
  position: absolute;
  width: 100%;
  height: auto;
}

#musicContainer .album2 h1 {
  position: absolute;
  color: white;
  font-family: "GothamBook";
  top: 30rem;
}

#musicContainer .album2 a {
  position: absolute;
  text-align: center;
  width: 5rem;
  height: auto;
  top: 36rem;
  left: 50%;
  transform: translate(-50%,0);
  color: #1BBA54;
  text-decoration: none;
  font-family: "GothamBook";
  font-weight: bold;
  font-size: 1.0rem;
  border: 1px solid #1BBA54;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

#musicContainer .album2 a:hover {
  background-color: #1BBA54;
  color: white;
}

#musicContainer .album2Music {
  position: absolute;
  top: 40rem;
  width: 100%;
  height: auto;
}

#musicContainer .album2Music p{
  color: white;
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "GothamBook";
  border-bottom: 0.5px solid black;
}

#musicContainer .album3 {
  position: relative;
  max-width: 90%;
  height: 132.1rem;
  top: 16rem;
  background-color: rgba(186, 142, 74, 0.8);
  left: 50%;
  transform: translate(-50%,0);
}

#musicContainer .album3 img{
  position: absolute;
  width: 100%;
  height: auto;
}

#musicContainer .album3 h1 {
  position: absolute;
  color: white;
  font-family: "GothamBook";
  top: 30rem;
}

#musicContainer .album3 a {
  position: absolute;
  text-align: center;
  width: 5rem;
  height: auto;
  top: 36rem;
  left: 50%;
  transform: translate(-50%,0);
  color: #1BBA54;
  text-decoration: none;
  font-family: "GothamBook";
  font-weight: bold;
  font-size: 1.0rem;
  border: 1px solid #1BBA54;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

#musicContainer .album3 a:hover {
  background-color: #1BBA54;
  color: white;
  transition: 0.3s;
}

#musicContainer .album3Music {
  position: absolute;
  top: 40rem;
  width: 100%;
  height: auto;
}

#musicContainer .album3 .album3Music p{
  color: white;
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "GothamBook";
  border-bottom: 0.5px solid black;
}

#musicContainer .album4 {
  position: relative;
  max-width: 90%;
  height: 110.1rem;
  top: 20rem;
  background-color: rgba(67, 48, 71, 0.8);
  left: 50%;
  transform: translate(-50%,0);
  margin-bottom: 2rem;
}

#musicContainer .album4 img{
  position: absolute;
  width: 100%;
  height: auto;
}

#musicContainer .album4 h1 {
  position: absolute;
  color: white;
  font-family: "GothamBook";
  top: 30rem;
}

#musicContainer .album4 a {
  position: absolute;
  text-align: center;
  width: 5rem;
  height: auto;
  top: 36rem;
  left: 50%;
  transform: translate(-50%,0);
  color: #1BBA54;
  text-decoration: none;
  font-family: "GothamBook";
  font-weight: bold;
  font-size: 1.0rem;
  border: 1px solid #1BBA54;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

#musicContainer .album4 a:hover {
  background-color: #1BBA54;
  color: white;
  transition: 0.3s;
}

#musicContainer .album4Music {
  position: absolute;
  top: 40rem;
  width: 100%;
  height: auto;
}

#musicContainer .album4 .album4Music p{
  color: white;
  padding-left: 2rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  font-family: "GothamBook";
  border-bottom: 0.5px solid black;
}

#footer {
  position: relative;
  width: 100%;
  height: 35rem;
  top: 24rem;
  border: 2px solid black;
  background-color: black;
  margin: 0;
  padding: 0;
}

#footer .updates h1{
  position: absolute;
  left: 50%;
  top: 20px;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1.8rem;
  margin: 0;
  transform: translate(-50%,0);
}

#footer .updates p{
  position: absolute;
  text-align: center;
  left: 50%;
  top: 65px;
  color: white;
  font-family: Helvetica;
  font-size: 1.2rem;
  font-style: italic;
  margin: 0;
  width: 30rem;
  transform: translate(-50%,0);
}

#footer .formUpdates {
  position: absolute;
  width: 33rem;
  height: 2rem;
  left: 50%;
  top: 30%;
  transform: translate(-50%,0);
  margin: 0;
  padding: 0;
}

#footer .updates input {
  position: absolute;
  left: 1.8rem;
  width: 60%;
  height: 1.875rem;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 0px;
}

#footer .updates button{
  position: absolute;
  left: 75%;
  width: 6rem;
  height: 2.06rem;
  font-family: Helvetica;
  font-weight: lighter;
  border-radius: 5px;
  margin: 0px;
}

#footer .search h1{
  position: absolute;
  text-align: center;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 1.8rem;
  color: white;
  width: 25rem;
  left: 50%;
  top: 20rem;
  margin: 0px;
  transform: translate(-50%,0);
}

#footer .formSearch {
  position: absolute;
  width: 33rem;
  height: 2rem;
  left: 50%;
  top: 70%;
  transform: translate(-50%,0);
}

#footer .search input{
  position: absolute;
  left: 1.8rem;
  width: 60%;
  height: 1.875rem;
  border: none;
  border-radius: 5px;
}

#footer .search button{
  position: absolute;
  left: 75%;
  height: 33px;
  width: 6rem;
  font-family: Helvetica;
  border-radius: 5px;

}

#socialmedia {
  position: absolute;
  left: 50%;
  width: 100%;
  top: 32rem;
  padding:0;
  margin:0;
  text-align: center;
  transform: translate(-50%,-50%);
  overflow: hidden;
}

#socialmedia .icon img{
  display: inline-block;
  width: 2rem;
  height: auto;
  margin: 0 0.93rem;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    padding:0px;
    margin: 0px;
    background-color: black;
    background-size: 100% 100%;
}

@media only screen and (min-width: 451px) and (max-width: 768px)
{
  #wrapper {
    padding: 0.67rem;
    height: 3rem;
  }

  .logo{
    display: none;
  }

  .mobileLogo {
    display: block;
    width: 17.5rem;
    height: auto;
    position: relative;
    margin: 0px;
    padding: 0;
    left: 0%;
    transform: translate(-50% 0);
  }

  .nav {
    display: none;
  }

  .topnav {
    overflow: hidden;
    background-color: black;
    position: relative;
    display: block;
    left: -0.7rem;
  }

  .topnav #myLinks {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 0.8rem 1.5rem;
    font-size: 1.5rem;
    font-family: "GothamBookItalic";
    text-decoration: none;
    display: block;
    width: 6rem;
  }

  .topnav a.icon {
    position: absolute;
    display: block;
    right: 0.5rem;
    top: 0rem;
    width: 2rem;
  }

  .topnav a:hover {
    color: #78de97;
  }
}

@media only screen and (min-width: 769px)
{
  #wrapper {
    padding: 0.625rem;
    height: 2rem;
  }

  .mobileLogo {
    display: none;
  }

  .logo {
    display: block;
    position: absolute;
    top: -3px;
    width:100px;
    height:auto;
    margin-left:15px;
    padding-left:40px;
  }

  .nav {
    display: inline;
    float: right;
    padding: 0;
    margin: 0 60px;
  }

  .nav li {
    display: inline;
    padding: 0;
    margin: 0;
  }

  .nav a {
    text-decoration: none;
    color: #ffffff;
    font-family : GothamBookItalic;
    font-size: 1.3em;
    padding: 10px 5px;
    margin: 0 15px;
    transition: color 0.3s ease;
  }

  .nav a:hover {
    color: #78de97;
  }

  .topnav {
    display: none;
  }
}
