html {
  font-size: 16px;
}

@media (max-width: 500px){
  html { font-size: 13px; }
}

#wrapper {
  background-color : #000000;
  padding:10px;
  margin:0;
  width:100%;
  height:32px;
  z-index: 10;
  position: fixed;
}

.mobileLogo {
  display: none;
}

.logo {
  position: absolute;
  top: -3px;
  width:100px;
  height:auto;
  margin-left:15px;
  padding-left:40px;
}

/*The header navigation */
.nav {
  display: inline;
  float: right;
  padding: 0;
  margin: 0 60px;
}

.nav li {
  display: inline;
  padding: 0;
  margin: 0;

}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-family : GothamBookItalic;
  font-size: 1.3em;
  padding: 10px 5px;
  margin: 0 15px;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #78de97;
}

#menutoggle input {
  display: none;
}

#menutoggle span {
  display: none;
}

#menutoggle input:checked ~ ul {
  transform: none;
}

#menu {
  display: none;
}

#mobileBanner {
  display: none;
}

.banner {
  max-width:100%;
  position: relative;
  top:52px;
  left: -1px;
}

.mySlides {
    display: none;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.displayleft {
  position: absolute;
  color: white;
  border: none;
  font-size: 2.0em;
  left: 3%;
  top: 50%;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 2px black;
}

.displayleft:hover {
  color: black;
  text-shadow: 1px 1px 2px white;
  cursor: pointer;
}

.displayright {
  position: absolute;
  color: white;
  border: none;
  font-size: 2.0em;
  right: 3%;
  top: 50%;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 2px black;
}

.displayright:hover {
  color: black;
  text-shadow: 1px 1px 2px white;
  cursor: pointer;
}

#latestnews{
  position: relative;
  background-color: rgba(255 , 255 ,255 , 0.1);
  text-align: center;
  left: 0px;
  top: 52px;
  width: 100%;
  height: 35rem;
  border: none;
  border-bottom: 1px solid white;
  overflow: hidden;
}

#latestnews h1{
  position: absolute;
  text-align: center;
  font-family: "GothamBook";
  font-size: 2em;
  color: white;
  text-shadow: 1px 1px 1px #000000;
  left: 50%;
  margin-top: 2rem;
  transform: translate(-50%, 0);
}

#latestnews .news p{
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: center;
  border: 1px solid black;
  margin: 0 2rem;
  margin-top: 135px;
}

#officialmerch {
  position: relative;
  text-align: center;
  top: 3.2rem;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
  height: 35rem;
  background-color: rgba(255 ,255 ,255 ,0.1);
  padding-left: 1px;
  border-bottom: 1px solid white;
  overflow: hidden;
}

#officialmerch h1{
  position: absolute;
  color: white;
  text-decoration: none;
  font-size:2rem;
  font-family: "GothamBook";
  text-shadow: 1px 1px 1px #000000;
  padding-left: 1px;
  margin-top: 2rem;
  left: 50%;
  transform: translate(-50%,0);
}

#officialmerch .product {
  display: inline-block;
  margin: 8rem 1rem;
}

#officialmerch .product:hover {
  opacity: 0.7;
  transition: 0.3s;
}

#officialmerch .product img {
  width: 17.5rem;
  height: auto;
}

#officialmerch .product p {
  color: white;
  font-size:1.5em;
  font-family: GothamBook;
  text-shadow: 1px 1px 2px #000000;
}

#officialmerch .product p:hover{
  color: #78de97;
  transition: 0.3s
}

#officialmerch .seemore {
  display: inline;
  position: absolute;
  text-align:center;
  font-size: 1em;
  font-family: GothamBook;
  left: 50%;
  top: 90%;
  transform: translate(-50%,0);
  color: white;
}

#officialmerch .seemore:hover {
  color: #78de97;
}

#music {
  position: relative;
  border: none;
  text-align: center;
  width: 100%;
  height: 500px;
  top: 3.2rem;
  background-color: rgba(255 ,255 ,255 , 0.1);
  border-bottom: 1px solid white;
  overflow: hidden;
}

#music h1 {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
  font-family: "GothamBook";
  font-size: 2rem;
  margin-top: 2rem;
}

#music .album {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0 2rem;
  margin-top: 8rem;
}

#music .album:hover{
  opacity: 0.5;
  transition: 0.3s;
}

#officialvideo {
  position: relative;
  top: 3.2rem;
  max-width: 100%;
  height: 45rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}

#officialvideo h1 {
  position: absolute;
  text-align: center;
  color: white;
  text-decoration: none;
  left: 50%;
  transform: translate(-50%, 0);
  font-size:2em;
  font-family: GothamBook;
  text-shadow: 1px 1px 2px #000000;
  margin-top: 2rem;
}

#officialvideo iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#footer {
  position: relative;
  width: 100%;
  height: 300px;
  top: -1px;
  border: 2px solid black;
  background-color: black;
  margin: 0;
  padding: 0;
}

#footer .updates h1{
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 2.4em;
  margin: 0;
}

#footer .updates p{
  position: absolute;
  left: 20px;
  top: 65px;
  color: white;
  font-family: Helvetica;
  font-size: 1.3em;
  font-style: italic;
  margin: 0;
}

#footer .updates input {
  position: absolute;
  left: 20px;
  top: 200px;
  width: 350px;
  height: 30px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 0px;
}

#footer .updates button{
  position: absolute;
  left: 400px;
  width: 110px;
  height: 33px;
  top: 200px;
  font-family: Helvetica;
  font-weight: lighter;
  border-radius: 5px;
  margin: 0px;
}

#footer .search h1{
  position: absolute;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 2.0em;
  color: white;
  right: 10rem;
  top: 5rem;
  margin: 0px;
}

#footer .search input{
  position: absolute;
  right: 12rem;
  top: 10rem;
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

#footer .search button{
  position: absolute;
  right: 2rem;
  top: 10rem;
  height: 33px;
  width: 110px;
  font-family: Helvetica;
  border-radius: 5px;

}

#socialmedia {
  position: absolute;
  left: 50%;
  top: 50%;
  padding:0;
  margin:0;
  text-align: center;
  transform: translate(-50%,-50%);
}

#socialmedia .icon img{
  display: inline-block;
  width: 60px;
  height: auto;
  margin: 0px 15px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  padding:0px;
  margin: 0px;
  background-color: black;
  background-size: 100% 100%;
}

@media only screen and (max-width: 500px)
{
  .logo{
    display: none;
  }

  .mobileLogo {
    display: inline;
    width: 50%;
    height: auto;
    position: relative;
    margin: 0px;
    top : 0%;
    left: 8rem;
    transform: translate(-50% 0);
  }

  .nav {
    display: none;
  }

  #menutoggle {
    position: relative;
    right : 0px;
    top: 0px;
    z-index: 1;
  }

  #menutoggle input{
    display: block;
    width: 30px;
    height: 25px;
    cursor: pointer;
    position: absolute;
    right: 22px;
    top : -40px;
    margin: 0px;
    opacity : 0;
    z-index: 2;
  }

  #menutoggle span {
    display: block;
    width: 28px;
    height: 3px;
    margin-bottom: 5px;
    background-color: #cdcdcd;
    border-radius: 3px;
  }

  #menutoggle .hamburger {
    position : absolute;
    right: 25px;
    width: 28px;
    margin: 0px;
    top: -40px;
  }

  #menu {
    display: block;
    width: 800px;
    height: auto;
    padding: 50px;
    padding-top: 50px;
    list-style-type : none;
    background-color : #000000;
    position : relative;
    top: -15px;
    left: -10px;

    transform-origin: 0% 0%;
    transform: translate(130%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menu a {
    text-decoration: none;
    color: #ffffff;
    font-family : GothamBookItalic;
    transition: color 0.3s ease;
  }

  #menu a:hover {
    color: #78de97;
  }

  #menu li {
    padding: 10px 0;
    font-size: 1.5rem;
  }

  #mobileBanner {
    display:block;
    max-width:100%;
    position: relative;
    top: 52px;
    left: -1px;
  }

  .mobileSlides {
    display: none;
    width: 100%;
  }

  .banner {
    display: none;
  }

  #latestnews
  {
    height: 150em;
    border-bottom: 1px solid black;
  }

  #latestnews h1
  {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000000;
  }

  #latestnews .news p
  {
    float: left;
    margin-left: 50%;
    transform: translate(-50%, 0);
  }

  #merchContainer {
    width: 38.46rem;
  }

  #officialmerch
  {
    position: relative;
    margin: 0;
    width: 100%;
    height: 300rem;
    border-bottom: 1px solid black;
  }

  #officialmerch h1{
    position: absolute;
    width: 100%;
    top: 2rem;
    color: white;
    text-shadow: 1px 1px 1px #000000;
  }

  #officialmerch .product
  {
    float: left;
    margin: 0;
    margin-top : 10rem;
    margin-bottom: 0;
    width: 100%;
  }

  #officialmerch .product img {
    width: 30rem;
  }

  #officialmerch .product p{
    color: white;
    font-size: 2rem;
    text-shadow: 1px 1px 1px #000000;
  }

  #music{
    height: 160rem;
    border-bottom: 1px solid black;
  }

  #music .album{
    width: 30rem;
    height: auto;
    margin: 0;
    margin-left: 50%;
    margin-top: 8rem;
    transform: translate(-50%,0);
  }

  #officialvideo {
    height: 40rem;
  }

  #officialvideo h1 {
    color: white;
    text-shadow: 1px 1px 1px #000000;
  }

  #officialvideo iframe {
    width: 30rem;
    height: 20rem;
  }

  #footer {
    width: 100%;
    height: 50rem;
  }

  #footer .updates input {
    width: 25rem;
  }

  #footer .updates button {
    position: absolute;
    width: 8.3rem;
    left: 27.69rem;
  }

  #footer .search h1 {
    position: absolute;
    left: 2.0rem;
    top: 23.07rem;
  }

  #footer .search input {
    position: absolute;
    top: 30.76rem;
    width: 25rem;
    left: 1.8rem;
  }

  #footer .search button {
    position: absolute;
    top: 30.76rem;
    width: 8.3rem;
    left: 27.69rem;
  }

  #socialmedia {
    position: absolute;
    top: 45rem;
    width: 100%;
  }

  body
  {
    background-color: black;
    background-image: none;
  }
}
