#wrapper {
  background-color : #000000;
  padding:10px;
  margin:0;
  width:100%;
  height:32px;
  z-index: 10;
  position: fixed;
}

.logo {
  position: absolute;
  top: -3px;
  width:100px;
  height:auto;
  margin-left:15px;
  padding-left:40px;
}

/*The header navigation */
.nav {
  display: inline;
  float: right;
  padding: 0;
  margin: 0 60px;
}

.nav li {
  display: inline;
  padding: 0;
  margin: 0;

}

.nav a {
  text-decoration: none;
  color: #ffffff;
  font-family : GothamBookItalic;
  font-size: 1.3em;
  padding: 10px 5px;
  margin: 0 15px;
}

.nav a:hover {
  color: #78de97;
}

.banner {
  max-width:100%;
  position: relative;
  top:52px;
  left: -1px;
}

.mySlides {
    display: none;
    position: relative;
    max-width: 100%;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translate(-50%, 0);
}

.displayleft {
  position: absolute;
  color: white;
  border: none;
  font-size: 2.0em;
  left: 3%;
  top: 50%;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 2px black;
}

.displayleft:hover {
  color: black;
  text-shadow: 1px 1px 2px white;
  cursor: pointer;
}

.displayright {
  position: absolute;
  color: white;
  border: none;
  font-size: 2.0em;
  right: 3%;
  top: 50%;
  margin: 0px;
  padding: 0px;
  text-shadow: 1px 1px 2px black;
}

.displayright:hover {
  color: black;
  text-shadow: 1px 1px 2px white;
  cursor: pointer;
}

#latestnews{
  position: relative;
  background-color: rgba(255 , 255 ,255 , 0.5);
  left: 0px;
  top: 52px;
  width: 100%;
  height: 600px;
  border: none;
}

#latestnews h1{
  position: absolute;
  text-align: center;
  font-family: "GothamBook";
  font-size: 2em;
  text-shadow: 1px 1px 2px #ffffff;
  top: 0px;
  left: 50%;
  margin: 0px;
  transform: translate(-50%, 0);
}

#latestnews .news p{
  float: left;
  width: 300px;
  height: 300px;
  text-align: center;
  border: 1px solid black;
  margin-top: 135px;
  margin-left: 150px;
}

#officialmerch {
  position: relative;
  text-align: center;
  top: 26px;
  left: 50%;
  transform: translate(-50%,0);
  width: 100%;
  height: 500px;
  background-color: rgba(255 ,255 ,255 ,0.5);
  padding-left: 1px;
}

#officialmerch h1{
  color: black;
  text-decoration: none;
  font-size:2em;
  font-family: "GothamBook";
  text-shadow: 1px 1px 2px #ffffff;
  border-top: 1px solid black;
  padding-left: 1px;
}

#officialmerch .product {
  float: left;
  margin: 0 1.1em;
}

#officialmerch .product:hover {
  opacity: 0.7;
  transition: 0.3s;
}

#officialmerch .product img {
  width: 280px;
  height: auto;
}

#officialmerch .product p {
  color: black;
  font-size:1.5em;
  font-family: GothamBook;
  text-shadow: 1px 1px 2px #ffffff;
}

#officialmerch .product p:hover{
  color: white;
  text-shadow: 1px 1px 2px #000000;
  transition: 0.3s
}

#officialmerch .seemore{
  display: inline;
  position: absolute;
  text-align:center;
  font-size: 1em;
  font-family: GothamBook;
  text-decoration: underline;
  left: 50%;
  top: 90%;
  transform: translate(-50%,0);
}

#music {
  position: relative;
  border: none;
  width: 100%;
  height: 500px;
  top: 26px;
  background-color: rgba(255 ,255 ,255 , 0.5);
}

#music h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: "GothamBook";
  font-size: 2em;
  border-top: 1px solid black;
  margin: 0;
}

#music .album {
  float: left;
  width: 300px;
  height: 300px;
  margin-top: 100px;
  padding-left: 130px;
}

#music .album:hover{
  opacity: 0.5;
  transition: 0.3s;
}

#officialvideo {
  position: relative;
  top: 26px;
  max-width: 100%;
  height: 640px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  border-top: 1px solid black;
}

#officialvideo h1 {
  position: absolute;
  text-align: center;
  color: black;
  text-decoration: none;
  left: 50%;
  transform: translate(-50%, 0);
  font-size:2em;
  font-family: GothamBook;
  text-shadow: 1px 1px 2px #ffffff;
  margin: 0px;
}

#officialvideo iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#footer {
  position: relative;
  max-width: 100%;
  height: 300px;
  top: -1px;
  border: 2px solid black;
  background-color: black;
  margin: 0;
  padding: 0;
}

#footer .updates h1{
  position: absolute;
  left: 20px;
  top: 20px;
  color: white;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 2.4em;
  margin: 0;
}

#footer .updates p{
  position: absolute;
  left: 20px;
  top: 65px;
  color: white;
  font-family: Helvetica;
  font-size: 1.3em;
  font-style: italic;
  margin: 0;
}

#footer .updates input {
  position: absolute;
  left: 20px;
  top: 200px;
  width: 350px;
  height: 30px;
  border: none;
  border: solid 1px #ccc;
  border-radius: 5px;
  font-size: 1.2em;
  margin: 0px;
}

#footer .updates button{
  position: absolute;
  left: 400px;
  width: 110px;
  height: 33px;
  top: 200px;
  font-family: Helvetica;
  font-weight: lighter;
  border-radius: 5px;
  margin: 0px;
}

#footer .search h1{
  position: absolute;
  font-family: Helvetica;
  font-weight: lighter;
  font-size: 2.0em;
  color: white;
  left: 735px;
  top: 20px;
  margin: 0px;
}

#footer .search input{
  position: absolute;
  left: 735px;
  top: 100px;
  width: 300px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

#footer .search button{
  position: absolute;
  left: 1065px;
  top: 100px;
  height: 33px;
  width: 110px;
  font-family: Helvetica;
  border-radius: 5px;

}

#socialmedia {
  position: absolute;
  left: 710px;
  top: 220px;
  padding:0;
  margin:0;
}

#socialmedia .icon img{
  width: 60px;
  height: auto;
  margin: 0px 15px;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  padding:0px;
  margin: 0px;
  background-image: url("../assets/background1blur.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
